.navbar {
  background: #3f3f3f;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid #eee;
}

.navbar-container {
  width: 100%;
  max-width: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
}

.navbar-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.main-icon {
  height: 60px;
  width: auto;
}

.menu-icon {
  visibility: hidden;
}

.nav-menu {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 32px;
}

.nav-item {
  position: relative;
}

#nav-home-link {
  color: #b677c5;
}

.nav-links {
  color: #eee;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.nav-links:hover {
  color: #c992d6;
}

/* Mobile Styles */
@media screen and (max-width: 960px) {
  .navbar-container {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 24px;
  }

  .menu-icon {
    position: absolute;
    visibility: visible;
    top: 20px;
    right: 20px;
    font-size: 1.8rem;
    display: block;
    cursor: pointer;
  }

  .nav-menu {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 80px;
    left: -100%;
    background-color: #a03ba0;
    transition: 0.5s ease;
    z-index: 1;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-links {
    width: 100%;
    padding: 1.5rem;
    color: #fff;
    text-align: center;
  }

  .nav-links:hover {
    background-color: #631f7f;
  }
}
