h2 {
     font-size: 30px;
     text-decoration: underline;
}

.chairrunner-wrapper {
     padding: 5px;
     /* height: 17vh; */
     width: 40vw;
     background-color: #b086cd;
     position: relative;
}

.crslider-wrapper {
     padding: 2px;
     /* display: flex; */
     justify-content: center;
     align-items: center;
     position: absolute;
     left: 0;
     top: calc(100% + .25rem);
     box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
}

.cr-Sarrow {
     padding: 3px;
}

.chairrunner-selector {
     height: 10vh;
     width: 40vw;
     border-radius: 5px;
     background-color: #9d72bc;
}

.chairrunner-btn {
     border-style: 5px solid black;
     margin: 5px;
}

img {
     height: 50px;
     width: 50px;
}