.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px 20px;

  background-color: rgb(99, 11, 140);
  color: #fff;
  font-size: 14px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: bold;

  position: sticky;
  top: 0;
  z-index: 10000;
}

.logo-container {
  display: flex;
  align-items: center;
}

.main-logo {
  height: 60px;
  margin-right: 10px;
}

.logo-text {
  display: block;
}

.left-group {
  display: none;
}

.right-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;

  flex: 1;
}

.icon-text {
  margin-left: 6px;
  line-height: 1.4;
}

.header p,
.header a {
  display: flex;
  align-items: center;

  margin: 0 5px;

  color: #fff;
  text-decoration: none;
}

.header a:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.facebook-icon,
.instagram-icon {
  font-size: 16px;
}

.phone {
  display: none;
}

/* Larger screens (enhance) */
@media screen and (min-width: 600px) {
  .left-group {
    display: flex;
    align-items: center;
    flex: 1;
  }

  .phone {
    display: flex;
  }

  .logo-text {
    display: none;
  }
}
